<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapping">
<select id="sel" parameterType="model.PageInfo" resultType="model.PetitionDTO">
	select * from petition where petition_expire_day > now() order by petition_expire_day desc, petition_seq desc limit #{startrow}, 8
</select>

<select id="sortagreeno" parameterType="model.PageInfo" resultType="model.PetitionDTO">
	select * from petition where petition_expire_day > now() order by agree_no desc, petition_expire_day desc limit #{startrow},8
</select>

<select id="searchsel" parameterType="model.PageInfo" resultType="model.PetitionDTO">
	select * from petition where petition_expire_day > now() and petition_title LIKE CONCAT('%',#{search},'%') order by petition_expire_day desc, petition_seq desc limit #{startrow},8 
</select>

<select id="searchmaximumsel" parameterType="model.PageInfo" resultType="model.PetitionDTO">
	select * from petition where petition_expire_day > now() and petition_title LIKE CONCAT('%',#{search},'%') order by agree_no desc, petition_expire_day desc limit #{startrow},8
</select>

<insert id="insert" parameterType="model.PetitionDTO">
insert into petition values(default, #{user_id}, #{petition_title}, #{petition_content},
#{petition_registration_day}, #{petition_expire_day}, #{agree_no})
</insert>
</mapper>

